body {
    margin: 0;
    font-family: sans-serif;
}
.box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: 1s;
}
.box:hover {
    background-color: #faa;
    color: #fff;
}