body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}
.box {
    width: 250px;
    height: 250px;
    background-color: #fff;
    position: relative;
    left: 0;
    border: 2px solid #000;
    margin: auto;
    margin-top: 50px;
    overflow: auto;
}
/*.box:hover {
    background-color: #faa;
    color: #fff;
}*/
img {
    width: 400px;
    height: 600px;
    border: 2px solid #000;
    margin: 50px;
    object-fit: contain;
}