.lista{
    border: 2px solid black;
}
.lista__item {
    color: grey;
    margin: 10px 0;
    list-style: square;
}
.lista--antigua{
    opacity: 0.5;
    background-color: #ddd;
}
.item--dañino {
    color: red;
}
.item--importante {
    color: blue;
}