body {
    margin: 0;
    font-family: sans-serif;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    height: 100px;
    width: 160px;
    background-color: red;
    margin: 10px;
    font-size: 40px;
}
.flex-item:first-child{
    background-color: rgb(207, 100, 100);
}
.flex-item:last-child{
    background-color: rgb(146, 57, 57);
}